body {
    margin: 0px;    
}


a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
}


#grid article {
    padding-left: 20px;
}



@media (max-width: 1000px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }

}